@media print {
  #app {
    height: fit-content !important;
  }

  header,
  aside {
    display: none !important;
  }

  #page {
    position: absolute !important;
    top: 0;
    left: 0;
    print-color-adjust: exact !important;

    > div {
      break-inside: avoid !important;
    }
  }
}

main {
  font-family: "Noto Sans", sans-serif;
}

#page {
  margin: 0 auto;
}
